<div class="" >
	<div class="clearfix listmsg">
	<div class="form-group col-sm-6"><label class="col-sm-5 control-label cartTxt">计划启动时间<font color="red">*</font>：</label>
		<div class="col-sm-7">
			<div class="input-group date search_end">
				<input type="text" id="search_end_date_value" class="form-control">
				<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
			</div>
		</div>
	</div>
	<div class="form-group col-sm-6"><label class="col-sm-5 control-label cartTxt">计划发布时间<font color="red">*</font>：</label>
		<div class="col-sm-7">
			<div class="input-group date search_end">
				<input type="text" id="search_end_date_value" class="form-control">
				<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
			</div>
		</div>
	</div>
	<div class="form-group col-sm-6"><label class="col-sm-5 control-label cartTxt">路标类型<font color="red">*</font>：</label>
		<div class="col-sm-7">
			<div class="input-group date search_end">
				<input type="text" id="search_end_date_value" class="form-control">
				<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
			</div>
		</div>
	</div>
		<div class="form-group col-sm-6">
			<a href="javascript:void(0);" class="btn btn-primary">&nbsp;&nbsp;搜&nbsp;&nbsp;索&nbsp;&nbsp;</a>
		</div>
		</div>
	<!-- <div id="myCharts1" style="width: 1000px;;height: 500px;"></div> -->
	<div class="gantt" ></div>
</div>