
        <div class="modal-dialog" style="width: 600px!important;">
            <div class="modal-content animated bounceInRight">
                <div class="modal-header" style="padding-top:10px;padding-bottom: 10px;">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>

                        <h4 class="text-left">tips</h4>

                </div>
                <div class="modal-body ecommerce" style="height: 100px;overflow-y: scroll;">
                    版本无法再次创建
                </div>

                <div class="modal-footer">


                    <button type="button" class="btn btn-primary btn-primary" data-dismiss="modal">取消</button>

                </div>
            </div>
        </div>