<nav class="  navbar navbar-static-top" role="navigation" style="margin-bottom: 0;  min-height: 62px;">
	<div class="navbar-header">
		<!--<a class="navbar-minimalize  btn btn-primary " href="#"><i class="fa fa-bars"></i> </a>-->
		<a class="minimalize-styl-2 btn btn-primary btn-primary-skin" href="/servlet/createGuide/guide.html"><i class="fa fa-pencil"></i> 创建新需求 </a>
	
	</div>
	<ul class="nav navbar-top-links navbar-right">
		
		<li>
			<a href="SeniorSearch.html">
				<i class="fa fa-search text-muted"></i><span class="text-muted">搜索</span>
			</a>
		</li>

		<li>
			<a href="/user/logOut" >
				<i class="fa fa-sign-out text-muted"></i> <span class="text-muted">注销</span>
			</a>
		</li>
	</ul>

</nav>